@model WebApplication1.Models.Registration

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
}
